<% for(let i=0; i<data.length; i++){ %>
    <article class="contents_wrapper">
        <img src="<%= data[i].img %>">
        <div class="info_wrapper">
            <%=data[i].text %>
        </div>
    </article>
    <form action="/dksekgns-admin/delete/<%=data[i].id%>" method="POST">
        <input type="hidden" name="filename" value="<%=data[i].filename %>">
        <button>Delete</button>
    </form>
<% } %>

<% for(var i=0; i<data.length; i++){ %>
    <% if(data[i].id==page_id){ %>
        <h2>update</h2>
        <form enctype="multipart/form-data" action="/dksekgns-admin/update/<%=data[i].id %>" method="POST">
            <input type="hidden" name="filename" value="<%=data[i].filename %>">
            <input type="file" name="img">
            <textarea name="text"><%=data[i].text %></textarea>
            <button type="submit">Update</button>
        </form>
        <% }%>
<% } %>